<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApp20.Properties.Settings.connection_string"
            connectionString="&quot;User=SYSDBA;Password=123456;Database=T:/REDDBSQL/examples/empbuild/SKLAD_DB_3.FDB;DataSource=localhost;Port=3050;Charset=UTF8;&quot;" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>